# =====================================
# Environment Variables
# =====================================
.env
.env.*

# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# =====================================
# Streamlit
# =====================================
.streamlit/

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# Logs
# =====================================
*.log

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Build / Cache
# =====================================
.pytest_cache/
.mypy_cache/
.cache/

# =====================================
# Python Packaging
# =====================================
*.egg-info/
dist/
build/

# =====================================
# Coverage
# =====================================
.coverage
htmlcov/

# =====================================
# Uploaded Documents
# =====================================
data/uploads/

# =====================================
# BM25 Index
# =====================================
data/vectorstore/

# =====================================
# Metadata
# =====================================
data/metadata/

# =====================================
# Temporary Files
# =====================================
*.tmp
*.temp